<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <title>tazuser</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" />
        <link rel="stylesheet" href="/static/css/pwdmeter.css" />

        <link rel="shortcut icon" href="/static/favicon.ico" />


        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/pwdmeter.js"></script>
        <script type="text/javascript" src="/static/js/tazMultiselect.js"></script>
        <script type="text/javascript">
            $(function(){ $('.multiselect').tazMultiselect(); });
        </script>

        <meta charset="ISO-8859-1" />

    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>taz Nutzerverwaltung</h1>
            </div>

<!-- CONTENT -->

            <form action="" method="post">
                <div class="row">
                    <div class="span4 columns">
                        <fieldset id="private_data">
                            <legend>Pers&ouml;nliche Daten</legend>
                            <div class="clearfix">
                                <label for="name1" >Vorname*</label>
                                <div class="input">
                                    <input type="text" name="name1" value="{{ user.name1 }}" >
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="name2" >Nachname*</label>
                                <div class="input">
                                    <input type="text" name="name2" value="{{ user.name2 }}" >
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="office_phone" >Telefon B&uuml;ro</label>
                                <div class="input">
                                    <input type="text" name="office_phone" value="{{ user.phone.phone }}" >
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="note" >Bemerkung</label>
                                <div class="input">
                                    <textarea name="note" cols="5" rows="1">{{ user.note }}</textarea>
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="expires" >Laufzeit</label>
                                <div class="input">
                                    <input id="expires" type="text" name="expires" value="{{ user.expires }}">
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="department" >Abteilung</label>
                                <div class="input">
                                    <input type="text" name="department" value="{{ user.department }}" >
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="multiselect" id="groups">
                            <legend>Gruppen</legend>
                            <div class="clearfix hidable multiselect-group">
                                {% for groupsetname, groupsset in groups %}
                                <label for="groups"><strong>{{ groupsetname }}</strong></label>
                                <div class="input">
                                    <ul class="inputs-list groups">
                                        {% for group in groupsset%}
                                        <li class="multiselect-field">
                                            <label>
                                                <input class="multiselect-input" type="checkbox" name="groups[]" value="{{ group.id }}" >
                                                    <b>{{ group.gname }}</b> <div><small>{{ group.note }} ( {{ group.users|length }} )</small></div>
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
